In [17]:
import boto3
import pandas as pd

s3 = boto3.client("s3")
bucket = "csv-file-store-ec51f700"

obj = s3.get_object(Bucket=bucket, Key="dzd-3lz7fcr1rwmmkw/5h6d6xccl72dn4/dev/data/2025-08-15_composition_sp500.csv")
df = pd.read_csv(obj['Body'])
df.head()

   #         Company Symbol  Weight   Price
0  1          Nvidia   NVDA  0,0765  181,99
1  2       Microsoft   MSFT  0,0667  520,99
2  3      Apple Inc,   AAPL  0,0597  233,28
3  4          Amazon   AMZN  0,0427  232,14
4  5  Meta Platforms   META  0,0339  783,78